/* CUSTOM STORY STYLE */
body
	padding 1rem
	background-color $off-white
// ul
// 	list-style-type disc
// 	li
// 		margin-bottom 0.5rem

p.submit
	text-align center
	margin 3rem 0
	margin-bottom 6rem
	a
		padding 1rem
		set-type-size(large, false)
		line-height 1
		border none
		background $primary
		color $white
		font-weight 600
		border-radius 3px

#winners
	max-width 40rem
	margin 0 auto
	padding 1rem
	.hed
		h2
			font-weight 600
			margin 0
		p
			margin 0
	ul
		margin-top 2rem
	li
		margin-bottom 4rem
	h3
		margin 0
		font-weight bold
		a
			color $primary
			border-color $primary
	p.credit
		margin 0.5rem 0
		line-height 1.4

	img
		margin-top 2rem