<div class='intro'>
	<p class='intro__overline'>Call for entries deadline: Nov. 15</p>
	<h1 class='intro__hed tk-canela'>{{copy.title}}</h1>
	<p class='intro__dek tk-atlas'>{{copy.description}}</p>
</div>
